@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-500: #D35400;
  --primary-600: #BF4A00; /* Slightly darker for hover */
  --secondary-500: #27AE60;
  --secondary-600: #229954; /* Slightly darker for hover */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
